@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-gray-900 to-gray-800 text-gray-100 font-sans;
}

main {
  @apply min-h-screen flex flex-col justify-center items-center text-center;
}

h1 {
  @apply text-4xl font-bold mb-4 text-white;
}

h2 {
  @apply text-6xl font-extrabold mb-6 text-blue-400 drop-shadow-lg;
}

button {
  @apply bg-blue-600 hover:bg-blue-700 active:scale-95 transition-all text-white px-6 py-2 rounded-xl font-semibold shadow-md;
}
