@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply min-h-screen font-sans bg-gradient-to-br from-slate-950 via-slate-900 to-gray-800 text-gray-100;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue-600 rounded-full;
}

